/* https://tailwindcss.com/docs/using-with-preprocessors#build-time-imports */

@import "tailwindcss/base";
@import "./colors.css";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer base {
  @media not (prefers-color-scheme: dark) {
    :root {
      --color-accent: #5f55ec;
    }
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-accent: var(--iris-11);
    }
  }

  :root {
    color-scheme: light dark;
    cursor: default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
  }

  :focus:not(:focus-visible) {
    outline: none;
  }

  button,
  [role="button"] {
    cursor: default;
  }
}

@layer utilities {
  [hidden] {
    @apply hidden;
  }
}
