@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply text-cool-black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
  }

  button,
  [role="button"] {
    cursor: default;
  }
}
